@font-face {
  font-family: "Dosis-ExtraLight_Medium";
  src: url("../assets/fonts/Dosis/static/Dosis-ExtraLight.ttf");
}

@font-face {
  font-family: "Dosis-ExtraLight_Light";
  src: url("../assets/fonts/Dosis/static/Dosis-Medium.ttf");
}

@font-face {
  font-family: "Dosis-ExtraLight_Regular";
  src: url("../assets/fonts/Dosis/static/Dosis-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

.container {
  margin: 0 auto;
  /* max-width:  320px  comentando esse valor o site se torna automaticamente responsivo.*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.get-shape-logo {
  margin-bottom: 101px;
}

.whats-up {
  background: url("../img/whatsup/unnamed.png");
  background-repeat: no-repeat;
  padding-bottom: 312px;
  background-size: cover;
  background-position: right 40% bottom 45%;
  background-repeat: no-repeat;
}

.whats-up-logo {
  flex: 0 0 calc(100% - 92px);
  margin: 0 46px 31px 46px;
  align-self: center;
}

.call-people {
  flex: 0 0 calc(100% - 64px);
  text-align: center;
  margin: 0 32px;
  padding: 10px;
  color: #f5ef0b;
  font-size: 1.188em;
  font-family: "Dosis-ExtraLight_Medium";
}

.book-to-run-yellow {
  flex: 0 0 calc(160px - 220px);
  background-color: #f5ef0b;
  width: 100px;
  padding: 8px 0;
  margin: 0 auto;
  border: 3px solid #000;
  text-align: center;
  font-size: 0.813em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #000;
}

.book-to-run-yellow:hover {
  border: 4px solid #000;
}

.calories {
  background: url("../img/calories/victor-freitas-hOuJYX2K5DA-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 52.5% bottom 45%;
  padding-bottom: 30px;
}

.title-calories {
  padding-top: 40px;
  margin: 0 38px;
  font-size: 3.063em;
  font-family: "Dosis-ExtraLight_Medium";
  flex: 0 0 calc(190.5px - 76px);
}

.believe {
  font-size: 0.8125em;
  font-family: "Dosis-ExtraLight_Light";
  color: #000;
  margin: 0 38px;
  flex: 0 0 calc(100% - 76px);
}

.believe::after {
  display: table;
  margin-top: 11px;
  content: url("../img/calories/arrow.png");
}

.get-in-share {
  background: url("../img/share/pain-between-shoulder-blades.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  background-position: right 50% bottom 50%;
}

.call-get-in-share {
  text-align: center;
  font-size: 1.063em;
  font-family: "Dosis-ExtraLight_Regular";
  color: #ffff;
  margin-bottom: 25px;
}

.title-get-in-share {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.063em;
  font-family: "Dosis-ExtraLight_Medium";
  color: #fff;
}

.title-get-in-share::after {
  content: url("../img/share/yellow-line.png");
  display: table;
  margin: 0 auto;
  position: relative;
  top: -30px;
}

.no-more {
  font-size: 0.938em;
  text-align: center;
  font-family: "Dosis-ExtraLight_Regular";
  color: #f5e827;
  margin: 0 41px;
  align-self: center;
  flex: 0 0 calc(100% - 82px);
  position: relative;
  top: -30px;
}

.info-get-shape {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  font-family: "Dosis-ExtraLight_Medium";
  font-weight: bold;
  color: #fff;
}

.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.next-running {
  background: url("../img/newsection/shoulder-blades.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 100%;
  height: 714px;
}

.title-next-running {
  text-align: center;
  text-transform: uppercase;
  font-family: "Dosis-ExtraLight_Medium";
  font-size: 3.063em;
  color: #f7ee0a;
  margin: 247px 0 142px 0;
}

.contacts {
  background: url("../img/newsection/Rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 100%;
  height: 714px;
}

.contacts .contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts .contacts-container .info-contacts {
  font-size: 0.938em;
  font-family: "Dosis-ExtraLight_Regular";
  font-weight: 600;
  color: #000000;
}

.contacts-container {
  margin: 316px 0 275px 0;
}

.contacts .contacts-container .book-a-run-black {
  margin-top: 26px;
  border: 3px solid #000;
  padding: 6px;
  display: block;
  font-size: 0.813em;
  font-family: "Montserrat";
  color: #000;
  text-transform: uppercase;
}

.get-map {
  background: url("../img/newsection/Map.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 100%;
  height: 714px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.get-map .information-of-the-meeting {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.063em;
  font-family: "Montserrat";
  margin: 321px 0 275px 0;
}

.social {
  background: #000000;
  width: 100%;
  margin-top: -2px;
}

.container-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-social li:nth-child(1) {
  margin-top: 62px;
}

.container-social li:nth-child(4) {
  margin-top: 65px;
  margin-bottom: 62px;
}

.container-social li:nth-child(2),
.container-social li:nth-child(3) {
  margin-top: 65px;
}

.logo {
  background: #fff;
  padding-bottom: 21px;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-logo li p {
  font-size: 0.688em;
  color: #afacac;
  margin-bottom: 8px;
}
.container-logo li p a {
  color: #afacac;
}

.animation-call-to-action:hover {
  animation: scale 1.5s;
}

@-webkit-keyframes scale {
  10% {
    -webkit-transform: scale(1.3);
  }
}
@-moz-keyframes scale {
  10% {
    -moz-transform: scale(1.3);
  }
}
@-o-keyframes scale {
  10% {
    -o-transform: scale(1.3);
  }
}

@keyframes scale {
  10% {
    transform: scale(1.3);
  }
}

.container-slide-to-up {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
}

.slideToUp {
  margin-top: 10px;
  margin-right: 10px;
  background: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #f5e827;
  position: fixed;
  cursor: pointer;
  display: none;
}

.slideToUp::before {
  content: "\2191";
  color: #f5e827;
}
