@font-face {
  font-family: "Dosis-ExtraLight_Medium";
  src: url("../assets/fonts/Dosis/static/Dosis-ExtraLight.ttf");
}

@font-face {
  font-family: "Dosis-ExtraLight_Light";
  src: url("../assets/fonts/Dosis/static/Dosis-Medium.ttf");
}

@font-face {
  font-family: "Dosis-ExtraLight_Regular";
  src: url("../assets/fonts/Dosis/static/Dosis-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

.container {
  margin: 0 auto;
  /* max-width:  320px  comentando esse valor o site se torna automaticamente responsivo.*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.get-shape-logo {
  margin-bottom: 101px;
}

.whats-up {
  background: url("../img/whatsup/unnamed.png");
  padding-bottom: 312px;
  background-size: cover;
  background-position: right 40% bottom 45%;
  background-repeat: no-repeat;
}

.whats-up-logo {
  flex: 0 0 calc(100% - 92px);
  margin: 0 46px 31px 46px;
  align-self: center;
}

.call-people {
  flex: 0 0 calc(100% - 64px);
  text-align: center;
  margin: 0 32px;
  padding: 10px;
  color: #f5ef0b;
  font-size: 1.188em;
  font-family: "Dosis-ExtraLight_Medium";
}

.book-to-run-yellow {
  flex: 0 0 calc(160px - 220px);
  background-color: #f5ef0b;
  width: 100px;
  padding: 8px 0;
  margin: 0 auto;
  border: 3px solid #000;
  text-align: center;
  font-size: 0.813em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #000;
}

.calories {
  background: url("../img/calories/victor-freitas-hOuJYX2K5DA-unsplash.png");
  background-size: cover;
  background-position: right 52.5% bottom 45%;
  padding-bottom: 30px;
}

.title-calories {
  padding-top: 40px;
  margin: 0 38px;
  font-size: 3.063em;
  font-family: "Dosis-ExtraLight_Medium";
  flex: 0 0 calc(190.5px - 76px);
}

.believe {
  font-size: 0.8125em;
  font-family: "Dosis-ExtraLight_Light";
  color: #000;
  margin: 0 38px;
  flex: 0 0 calc(100% - 76px);
}

.believe::after {
  display: table;
  margin-top: 11px;
  content: url("../img/calories/arrow.png");
}

/* Desktop */
@media (min-width: 600px) {
  .title-calories {
    padding-top: 114px;
    font-size: 4.25em;
    margin-left: 105px;
  }

  .believe {
    font-size: 0.8125em;
    margin-left: 105px;
  }

  .believe::after {
    margin-top: 27px;
  }

  .calories {
    padding-bottom: 140px;
    background-position: right 56.5% bottom 30%;
  }
}
